<mat-card-content>
    <h1>INGRESAR</h1>
    <div style="display: flex; flex-direction: column;">
        <mat-form-field >
            <mat-label>Ingresa Usuario</mat-label>
            <input matInput type="text" #usuarioText>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Ingresa Contraseña</mat-label>
            <input matInput type="password" #passwordText>
          </mat-form-field>
    </div>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="submit(usuarioText, passwordText)">INGRESAR</button>
          </mat-card-actions>
        </mat-card-content>

  